html{
    background-color: black;
}
header{
    background-color: red;
    color: white;
    text-align: center;
    font-style: italic;
    padding: 1%;
}
main{
    background-image: url(https://es.web.img3.acsta.net/pictures/14/03/10/10/35/587504.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
}
nav{
    background-color: black;
    text-align: center;
}
a{
    color: white;
}
table{
    border-color: blueviolet;
    color: white;
    width: 100%;
}
th{
    background-color: red;
}
td{
    text-align: center;
}
h2{
    color: white;
}
.pelicula{
    color: green;
    font-style: italic
}
ol{
    color:yellow;
}
fieldset{
    background-color: pink;
    border-color: blueviolet;
    border-radius: 5px;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    
}
legend{
    color: rgb(43, 153, 226);
    font-weight: bold;
}
button{
    background-color: blue;
    color: white;
    width: 80%;
    margin: 10px 0;
}
form{
    flex-direction: column;
    display: flex;
    align-items: center;

}
form label,
form input,
form select,
form button {
    width: 80%;
    margin: 10px, 0;
}
.ultima{
    color: white;
    max-width: 50%;
    
}
#enlace{
    color: aqua;
}
footer{
background-color: gray;
color: white;
text-align: center;
padding: 1%;
}